---
title: Default main title
language: en
---
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/main.css">
  <title>{{ title }}</title>
</head>
<body>
  <div>
    <main class="content">
      <header class="header">
        {% include "templates/toc.njk" %}
      </header>

      <div class="body">
        {{ content | safe }}
      </div>
    <div>
  </body>
</html>
